<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kuma窩</title>
    <style>
        header {
            display: block;
            text-align: center;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            position: fixed;
            top: 0;
            font-family: Arial;
            height: 60px;
            font-size:25px;
            width:100%;
            left: 0;
            padding-top:20px;
        }

        a:visited{
            text-decoration: none;
            color:#FF8800;
        }

        a:hover{
            background-color:#0044BB;
            color:white;
        }

    </style>
</head>
<body>
    <div>
    <header >
        <a href="/">Kuma窩</a>
    </header>
    </div>
    <img alt="/public/<%= files%>">>
</body>
</html>